{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Home{% endblock %}

{% block content %}
    <!-- Page Top section Start -->
    <section class="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="h6 d-inline-block mb-4 subhead text-uppercase">Snowboard tricks</span>
                    <h1 class="text-uppercase text-white mb-5">Share your
                        <span class="text-color">snowboard tricks</span>
                        <br>with us
                    </h1>
                    {% if not app.user %}
                    <a href="{{ path('sign-up') }}" class="btn btn-main ">Join Us
                        <i class="fas fa-angle-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Page Top section End -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="row sticky-message">
                <div class="alert alert-{{ label }} text-center container-fluid mx-3" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <!-- Section Gallery Start -->
    <section class="section home">
        <div class="container">
            <div class="row">
                {% if tricks %}
                {% for trick in tricks|reverse %}
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <h6 class="card-label"><span class="badge badge-dark"><a href="{{ path('trick_category', {'categoryId': trick.category.id }) }}">{{ trick.category.name }}</a></span></h6>
                        {% if app.user %}
                        <p class="btn-edit mb-2">
                            <a href="{{ path('trick_edit', {'id': trick.id}) }}" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                            {{ include('trick/_delete_form_btn.html.twig') }}
                        {% endif %}
                        {% if trick.images is defined %}
                        {% for image in trick.images %}
                            {% if loop.first %}
                        <a href="{{ path('trick_show', {'slug': trick.slug}) }}"><img src="{{ asset('images/gallery/' ~ image.filename) }}" alt="" class="img-fluid"></a>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="card-body">
                                    <a href="{{ path('trick_show', {'slug': trick.slug}) }}"><h5 class="card-title text-black mb-0">{{ trick.title }}</h5></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="mt-5 text-center">
                        <a href="#" class="btn btn-main">Load more
                            <span style="font-size: 15px;margin-left: 5px"><i class="fas fa-caret-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Gallery End -->
{% endblock %}