{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} -Home{% endblock %}

{% block content %}
    <!-- Page Top section Start -->
    <section class="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="h6 d-inline-block mb-4 subhead text-uppercase">Snowboard tricks</span>
                    <h1 class="text-uppercase text-white mb-5">Share your
                        <span class="text-color">snowboard tricks</span>
                        <br>with us
                    </h1>
                    <a href="#" target="_blank" class="btn btn-main ">Join Us
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Top section End -->
    <!-- Section Gallery Start -->
    <section class="section home">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-01.jpg" alt="" class="img-fluid">
                        <div class="card-body">
                                    <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                            Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-02.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure on sunBuild Body figure on sun</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-03.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-04.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-05.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-06.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-07.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-08.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-01.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-02.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-03.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-4 shadow-sm">
                        <p class="btn-edit mb-2">
                            <a href="#" title="delete"><i class="far fa-trash-alt"></i></a>
                            <a href="#" title="edit"><i class="far fa-edit"></i></a>
                        </p>
                         <a href="{{ path('post') }}"><img src="images/gallery/snowboard-04.jpg" alt="" class="img-fluid"></a>
                        <div class="card-body">
                            <a href="{{ path('post') }}"><h5 class="card-title text-black mb-0">Build Body figure Sniper
                                    Snowtricks</h5></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="mt-5 text-center">
                        <a href="#" class="btn btn-main">Load more
                            <span style="font-size: 15px;margin-left: 5px"><i class="fas fa-caret-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Gallery ENd -->
{% endblock %}