{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block file_widget -%}
    <{{ element|default('div') }} class="custom-file">
    {%- set type = type|default('file') -%}
    {%- set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' custom-file-label')|trim }) -%}
    {%- set input_lang = 'en' -%}
    {% if app is defined and app.request is defined %}{%- set input_lang = app.request.locale -%}{%- endif -%}
    {% if form.parent.vars.data != null %}
        <img class="preview" src="{{ form.parent.vars.data.fullPath }}">
        <p class="mb-0">{{ form.parent.vars.data.filename }}</p>
    {%- else -%}
    {{- block('form_widget_simple') -}}
        <label for="{{ form.vars.id }}" lang="{{ input_lang }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if attr.placeholder is defined and attr.placeholder is not none -%}
                {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
            {%- endif -%}
        </label>
    {%- endif -%}
    </{{ element|default('div') }}>
{% endblock %}

{% block url_video_widget %}
    {% if form.parent.vars.value %}
        {{ form.parent.vars.value.iframe | raw }}
        <br>
            <span class="text-sm label-video-id"><strong>{{ form.parent.vars.value.platformname }}:</strong> {{ form.parent.vars.value.platformid }}</span>
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}
           class="form-control">
{% endblock %}

{% block title %} {{ parent() }} - Edit{% endblock %}

{% block content %}
    <!-- Page Top section Start -->
    {% if trick.images is defined %}
{% for image in trick.images %}
{% if loop.first %}
<section class="heading"
         style="background: url({{ asset('upload/images/' ~ image.filename) }}) no-repeat 0 30%;background-size: cover;">
    {% endif %}
    {% endfor %}
    {% else %}
    <section class="heading">
        {% endif %}
<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="h3 d-inline-block mb-4 subhead text-uppercase">Edit a trick</span>
                    <h1 class="text-uppercase text-white mb-5">
                        <a href="{{ path('trick_show', {'slug': trick.slug}) }}" title="{{ trick.title }}">{{ trick.title }}</a>
                    </h1>
                    {{ include('trick/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    <!-- Page Top section End -->
    <!-- Publish section Start -->
    <section class="edit-form section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="section-title">
                        <div class="divider mb-3"></div>
                        <h2>Edit</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    {{ include('trick/_trick_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </section>

    <!-- Publish section End -->
{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/zoombox.js') }}"></script>
        <script src="{{ asset('js/upload.js') }}"></script>
        <script src="{{ asset('js/slug.js') }}"></script>
    {% endblock %}
