{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edit{% endblock %}

{% block content %}
    <!-- Page Top section Start -->
    {% if trick.images is defined %}
{% for image in trick.images %}
{% if loop.first %}
<section class="heading"
         style="background: url({{ asset('upload/images/' ~ image.filename) }}) no-repeat 0 30%;background-size: cover;">
    {% endif %}
    {% endfor %}
    {% else %}
    <section class="heading">
        {% endif %}

{#{% form_theme form _self %}#}

{#{% block file_widget -%}#}
{#    <{{ element|default('div') }} class="custom-file">#}
{#    {%- set type = type|default('file') -%}#}
{#    {{- block('form_widget_simple') -}}#}
{#    {%- set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' custom-file-label')|trim }) -%}#}
{#    {%- set input_lang = 'en' -%}#}
{#    {% if app is defined and app.request is defined %}{%- set input_lang = app.request.locale -%}{%- endif -%}#}
{#    <label for="{{ form.vars.id }}" lang="{{ input_lang }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>#}
{#        {%- if attr.placeholder is defined and attr.placeholder is not none -%}#}
{#            {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}#}
{#        {%- endif -%}#}
{#    </label>#}
{#    </{{ element|default('div') }}>#}
{#{% endblock %}#}
{#{%- block form_widget_simple -%}#}
{#    {%- set type = type|default('text') -%}#}
{#    {%- if type == 'range' or type == 'color' -%}#}
{#        #}{# Attribute "required" is not supported #}
{#        {%- set required = false -%}#}
{#    {%- endif -%}#}

{#    {% if type == 'file' and form.parent.vars.data != null %}#}
{#        <img class="preview" src="{{ form.parent.vars.data.fullPath }}">#}
{#    {% else %}#}
{#        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>#}
{#    {% endif %}#}
{#{% endblock %}#}



{#{%- block widget_attributes -%}#}
{#    {%- if not valid %}#}
{#        {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) %}#}
{#    {% endif -%}#}
{#    {{ parent() }}#}
{#{%- endblock widget_attributes -%}#}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="h3 d-inline-block mb-4 subhead text-uppercase">Edit a trick</span>
                    <h1 class="text-uppercase text-white mb-5">
                        {{ trick.title }}
                    </h1>
                    {{ include('trick/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    <!-- Page Top section End -->
    <!-- Publish section Start -->
    <section class="edit-form section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="section-title">
                        <div class="divider mb-3"></div>
                        <h2>Edit</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    {{ include('trick/_trick_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </section>

    <!-- Publish section End -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/upload.js') }}"></script>
    <script src="{{ asset('js/slug.js') }}"></script>
{% endblock %}